h1 {
    text-align: center
}

h2 {
    text-align: center;
}

nav {
    text-align: center;
}

p {
    color:black;
    text-align: center;
}

.parent {
    border: 1px solid black;
    margin: 1rem;
    padding: 2rem 2rem;
    text-align: center;
  }
  .child {
    display: inline-block;
    border: 1px solid black;
    padding: 1rem 1rem;
    vertical-align: middle;
  }